# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Convoy Shipping Company/*
!/Convoy Shipping Company/task/
/Convoy Shipping Company/task/*
!/Convoy Shipping Company/task/convoy
